span {background-color: red; color: white}
form{background-color: aqua;}
footer{background-color: black; color:azure}
.renan{text-align: center;
        border-style: groove; 
        border-color:  rgb(100, 5, 21);
        background-color: antiquewhite;}
        header{background-color: rgb(74, 141, 141);}
.jogo{margin: 20 px;
    background-color: chocolate;
max-width: 100%;}
nav>a{color: rgb(74, 141, 141);}